<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Member List</title>
</head>
<body>
    <span>Member List</span> 
    <a href="/">목록으로</a>
    <a href="/member/register">회원등록</a>
    <hr>
    <div class="divTable minimalistBlack">
        <div class="divTableHeading">   
          <div class="divTableRow">
          <div class="divTableHead">회원아이디</div>
          <div class="divTableHead">이름</div>
          <div class="divTableHead">생년월일</div>
          <div class="divTableHead">이메일</div>
          <div class="divTableHead">등급</div>
          <div class="divTableHead">가입일자</div>
          <div class="divTableHead">탈퇴유무</div>
          </div>
        </div>
        <div th:each="result : ${resultSet}" class="divTableBody">
          <div class="divTableRow">
            <div class="divTableCell" th:text="${result.id}"></div>
            <div class="divTableCell" th:text="${result.name}"></div>
            <div class="divTableCell" th:text="${result.birthDate}"></div>
            <div class="divTableCell" th:text="${result.email}"></div>
            <div class="divTableCell" th:text="${result.grade}"></div>
            <div class="divTableCell" th:text="${result.regDt}"></div>
            <div class="divTableCell" th:text="${result.delFg}"></div>
            </div>
            </div>
          </div>
        </div>
</body>
</html>